* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Maitree', serif;
}

/*Navigation*/

nav {
	background-color: #FE7E00;
	height: 70px;
}

.logo img {
	position: absolute;
	height: 50px;
	width: 75px;
	padding: 5px;
	margin-top: 5px;
	margin-left: 100px;
}

.logo h3 {
	float: left;
	color: #fff;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 14%;
}

.logo span {
	font-weight: lighter;
}

nav ul {
	text-transform: uppercase;
	float: right;
	list-style-type: none;
	position: relative;

}

nav ul li {
	display: inline-block;
	padding: 15px 20px;
	margin-top: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

nav a:hover {
	color: #FF9966;
	-webkit-transition: 0.5s;
		transition: 0.5s;
}

/*Header*/

header {
	height: 500px;
}

/*Searchbox*/

.input {
	padding: 10px;
	float: right;
	margin-right: 66px;
	background: #EFEFEF;
}

.search {
	position: relative;
}

.search input {
	text-indent: 10px;

}

.search .fa-search {
	position: absolute;
	top: 10px;
	right: 73px;
	color: #C7C7C9;
}

/*Mid-section*/

.orange {
	position: absolute;
	width: 50%;
	padding: 0;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
}

.about {
	color: #EE7E13;
	width: 50%;
	font-size: 40px;
	position: absolute;
	margin-top: 5%;
	margin-left: 40%;
	float: right;
	letter-spacing: 1px;
	padding: 15px;
}

.about span {
	color: #79CBC8;
}	

/*Button*/

.buttons {
	position: relative;
}

.buttons a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 30px;
	margin: 10px 25px;
	display: block;
	width: 15%;
	text-align: center;

}

.buttonleft a {
	background-color: #FE7E00;
	margin-left: 42%;
	margin-top: -12%;
	float: left;
	
}	

.buttonright a {	
	background-color: #7ACCC8;
	margin-right: 12%;
	margin-top: -12%;
	float: right;
}


/*Footer*/

footer p {

	background-color: #79CBC8;
	height: 70px;

}



/*Media Queries*/

@media(max-width: 1250px) {
	.logo img {
		position: relative;
		float: left;
		padding-top: -15px;
		height: 30px;
		width: 50px;
		margin-top: 15px;
	}

	.logo h3 {
		font-size: 22px;
		position: relative;
		padding-top: 5px;
		margin-left: 0;		
	}
	
	nav ul {
		position: relative;
		float: right;
		
	}	

	nav ul li {
		padding: 10px 15px;
		margin-top: 10px;
	}	

	.input {
		padding: 3px;

	}

	.search .fa-search {
		top: 3px;
	}

	.orange img {
		margin-top: 7%;
		height: 70%;
		width: 70%;
	}


	.about {
		margin-top: 10%;
		padding-bottom: 5%;
		font-size: 30px;

	}

	.buttons a{
		padding: 10px 15px;
		font-size: 12px;
		margin-top: -18%;
	}

}

@media(max-width: 850px) {

	.logo img {
		height: 30px;
		width: 40px;
		margin-left: 0;

	}

	.logo h3 {
		font-size: 18px;
		position: relative;
		padding-top: 5px;
		margin-left: 0;		
	}
	
	nav ul li {
		padding: 2px 5px;
		margin-top: 20px;
	}	

	nav ul li a {
		font-size: 12px;
	}

	header {
		height: 500px;
	}

	.input {
		font-size: 8px;
	}

	.search .fa-search {
		top: 2px;
	}

	.orange img {
		margin-top: 20%;
	}

	.buttons a{
		font-size: 10px;
		width: 18%;
		padding: 5px 10px;
	}
}

@media(max-width: 600px) {
	.logo img {
		height: 20px;
		width: 30px;
		margin-left: 0;
		margin-top: 20px;
	}

	.logo h3 {
		font-size: 14px;
		position: relative;
		padding-top: 5px;
		margin-left: 0;	
		margin-top: 15px;	
	}

	nav ul li a {
		font-size: 9px;
	}	

	
	.buttons a{
		font-size: 8px;
		width: 22%;
		padding: 5px 10px;
	}

	.buttonleft a {
		margin-left: 15%;
	}
}

@media(max-width: 540px) {
	.about {
		margin-top: 20%;
		font-size: 25px;

	}

	.orange img {
		margin-top: 70%;
	}
}
